<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamperty.netipol.perty">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        >

        <receiver
            android:name=".Util.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Home.MainActivity"
            android:windowSoftInputMode="adjustPan"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.AccountActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SelectPref.SelectPrefActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Login.TutorialActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Profile.TutorialActivityAsGuide"
            android:screenOrientation="portrait"/>
        <activity android:name=".Profile.EditProfileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SelectPref.SelectedItemsActivity"
            android:label="@string/title_activity_selected_items"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Home.PostActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Login.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

    <!--activity
        android:name=".SelectPref.GridViewAdapter"
        android:label="@string/title_activity_grid_view_adapter"
        android:theme="@style/AppTheme.NoActionBar" />
    <activity
        android:name=".SelectPref.GridItemView"
        android:label="@string/title_activity_grid_item_view"
        android:theme="@style/AppTheme.NoActionBar" /-->
</manifest>